<!--Normal Modal-->
<div class="docs-sections">

  <h4 class="docs-sectionHeading">
    Normal Modal
    <i class="fa fa-code text-gray docs-expandCode" (click)="normalmodal = !normalmodal" title="Toggle Code"
      tabindex="0"></i>
  </h4>

  <!--Display output-->
  <div class="docs-sectionDemoCode">

    <button class="sb-btn sb-btn-primary sb-btn-normal" (click)="shownormalmodal = !shownormalmodal">
      Show Normal Modal
    </button>

    <sb-modal *ngIf="shownormalmodal" [isClosable]="false" [size]="'md'" [theme]="'primary'" [customClass]="'mycustomclass'" (dismissed)="shownormalmodal = !shownormalmodal" id="modal-1">

      <sb-modal-header [hideCloseButton]="false">
        Modal Heading
      </sb-modal-header>

      <sb-modal-content [isScrollable]="false">
        <h4>What is Lorem Ipsum?</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <h4>What is Lorem Ipsum?</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <h4>What is Lorem Ipsum?</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <h4>What is Lorem Ipsum?</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <h4>What is Lorem Ipsum?</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <h4>What is Lorem Ipsum?</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </sb-modal-content>
      <sb-modal-actions>
        <sb-button [theme]="primary" [align]="end" (click)="shownormalmodal = !shownormalmodal">Yes</sb-button>
        <sb-button [theme]="secondary" [align]="end" (click)="shownormalmodal = !shownormalmodal">No</sb-button>
        <sb-button [theme]="secondary" [align]="starts" (click)="shownormalmodal = !shownormalmodal">Maybe</sb-button>
      </sb-modal-actions>

    </sb-modal>

  </div>
  <!--/Display output-->

  <!--Display code-->
  <div class="docs-sectionCopyCode" *ngIf="normalmodal">
    <!--Copy code button-->
    <button ngxClipboard [cbContent]="normalmodalCode"
      class="sb-btn sb-btn-primary sb-btn-xs fa fa-copy btn-copy">
    </button>
    <!--Copy code button-->

    <!--Copy code display-->
    <pre>
      <code [highlight]="normalmodalCode"></code>
    </pre>
    <!--Copy code display-->
  </div>
  <!--/Display code-->

</div>
<!--/Normal Modal-->