<!--Normal Modal-->
<div class="docs-sections">

  <h4 class="docs-sectionHeading">
    Normal Modal
    <i class="fa fa-code text-gray docs-expandCode" (click)="normalmodal = !normalmodal" title="Toggle Code"
      tabindex="0"></i>
  </h4>

  <!--Display output-->
  <div class="docs-sectionDemoCode">

    <button class="sb-btn sb-btn-primary sb-btn-normal" (click)="shownormalmodal = !shownormalmodal">
      Show Normal Modal
    </button>

    <sb-modal *ngIf="shownormalmodal" [isClosable]="true" [size]="large" [type]="normal" (dismissed)="shownormalmodal = !shownormalmodal">
      <sb-modal-header [showCloseButton]="true">Modal Heading</sb-modal-header>
      <sb-modal-content [showScroll]="true">
        Modal Content
      </sb-modal-content>
      <sb-modal-actions>
        <sb-button [type]="primary" [align]="end" (click)="shownormalmodal = !shownormalmodal">Yes</sb-button>
        <sb-button [type]="secondary" [align]="end" (click)="shownormalmodal = !shownormalmodal">No</sb-button>
        <sb-button [type]="secondary" [align]="starts" (click)="shownormalmodal = !shownormalmodal">Maybe</sb-button>
      </sb-modal-actions>

    </sb-modal>

  </div>
  <!--/Display output-->

  <!--Display code-->
  <div class="docs-sectionCopyCode" *ngIf="normalmodal">
    <!--Copy code button-->
    <button ngxClipboard [cbContent]="normalmodalCode"
      class="sb-btn sb-btn-primary sb-btn-xs fa fa-copy btn-copy">
    </button>
    <!--Copy code button-->

    <!--Copy code display-->
    <pre>
      <code [highlight]="normalmodalCode"></code>
    </pre>
    <!--Copy code display-->
  </div>
  <!--/Display code-->

</div>
<!--/Normal Modal-->