/**
 * Toolkit styles
 */
body {
  font-family: sans-serif;
}

.codecopy .codecopy-btn {
  opacity: 1 !important;
}

.ui.modal {
  display: block !important; 
  position: unset; 
  box-shadow: 1px 3px 3px 0 rgba(0,0,0,.2), 1px 3px 15px 2px rgba(0,0,0,.2);
}

