<!--Page Content-->
<div class="docs-sections">

  <h4 class="docs-sectionHeading">
    Course Card
    <i class="fa fa-code text-gray docs-expandCode" (click)="courseExpandCode = !courseExpandCode" title="Toggle Code" tabindex="0"></i>
  </h4> 

  <!--Display output-->
  <div class="docs-sectionDemoCode">
    <div class="sbcard__grid">
          <sb-card  *ngFor="let card of cards" [data]="card"></sb-card>
    </div>

    <div class="sbscroll sbscroll--X mt-32">
    <div class="sbcard__flex">
      <sb-card  *ngFor="let card of cards" [data]="card"></sb-card>
    </div>
    </div>

  </div>
  <!--/Display output-->

  <!--Display code-->
  <div class="docs-sectionCopyCode" *ngIf="courseExpandCode">

    <!--Copy code button-->
    <button ngxClipboard [cbContent]="courseCardCode" class="sb-btn sb-btn-primary sb-btn-xs fa fa-copy btn-copy"></button>
    <!--/Copy code button-->

    <!--Copy code display-->
    <pre>
      <code [highlight]="courseCardCode"></code>
    </pre>
    <!--/Copy code display-->

  </div>
  <!--/Display code-->
  
</div>
<!--Page Content-->


