
// sb card grid & flex
.sbcard__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 0rem;
  @media screen and (min-width: 768px) {
    grid-gap: 1rem;
  }
}

.sbcard__flex {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  sb-card {
      margin-bottom: 16px;
      min-width:320px; 
      margin-right: 16px;
  }
  &--wrap {
    flex-wrap:wrap;
    justify-content: flex-start;
  }
}

.sbscroll {
&--X {
  overflow-x:auto;
}
}