html,
body {
  height: 100%;
  font-size: $font-size-base;
}

body {
  background: $body-background-color !important;
  position: relative;
  font-family: $font-stack-en;
  letter-spacing: 0.2px;
  height: auto;
  color: $default-text-color;
  padding-bottom: 336px;
  min-height: 100vh;
  &.pushable {
    background: $body-background-color !important;
    &>.pusher {
      background: transparent !important;
      padding-bottom: 400px !important;
      &.dimmed {
        height: 100vh;
      }
    }
  }
}
@include respond-above(sm) {
  body {
    padding-bottom: 168px;
    .pusher {
      padding-bottom: 240px !important;
    }
    .footer-fix {
      min-height: calc(100vh - 168px);
      padding-bottom: $base-block-space * 4;
    }
    .sb-mid-container-min-height{
      min-height: calc(100vh - 288px);
      margin-bottom: -($base-block-space * 4) !important;
    }
  }
}
@include respond-below(sm) {
  .footer-fix {
    min-height: calc(100vh - 336px);
    padding-bottom: $base-block-space * 3;
  }
}


*[lang="en"] body {
  font-family: $font-stack-en;
}

*[lang="hi"] body {
  font-family: $font-stack-hi;
}

*[lang="ur"] body {
  font-family: $font-stack-ur;
}


