<button class="sb-btn sb-btn-outline-primary sb-btn-normal">Basic Button</button>
<button class="sb-btn sb-btn-outline-secondary sb-btn-normal">Secondary</button>
<button class="sb-btn sb-btn-outline-tertiary sb-btn-normal">Tertiary</button>
<button class="sb-btn sb-btn-outline-info sb-btn-normal">Info</button>
<button class="sb-btn sb-btn-outline-success sb-btn-normal">Success</button>
<button class="sb-btn sb-btn-outline-warning sb-btn-normal">Warning</button>
<button class="sb-btn sb-btn-outline-error sb-btn-normal">Error</button>