<ngbd-page-wrapper pageTitle="Introduction">

  <ngbd-page-header title="Installation" fragment="installation"></ngbd-page-header>

  <p>After installing the above dependencies, install <code>Sunbird UI components</code> via:</p>

  <ngbd-code [snippet]="codeInstall"></ngbd-code>

  <p>Once installed you need to import our main module.</p>

  <ngbd-code [snippet]="codeRoot"></ngbd-code>

  <p>Alternatively you could only import modules with components you need, ex. pagination and alert.
    The resulting bundle will be smaller in this case.</p>

  <ngbd-code [snippet]="codeOther"></ngbd-code>
  <br>
</ngbd-page-wrapper>
