<div class="sb-dtable-container">
    <table class="sb-dtable ui selectable striped fixed single-line table">
      <thead class="sb-dtable-header pd-y-x">
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Job</th>
        </tr>
      </thead>
      <tbody class="sb-dtable-body body-large">
        <tr>
          <td data-label="Name">
            <div class="sb-media">
              <img src="" alt="" class="sb-media-object">
              <div class="sb-media-body">
                <h6 class="media-heading">United Course</h6>
                <p class="media-description">Course</p>
              </div>
            </div>
          </td>
          <td data-label="Age">24</td>
          <td data-label="Job">Engineer</td>
        </tr>
        <tr>
          <td data-label="Name">
            <div class="sb-media">
              <img src="" alt="" class="sb-media-object">
              <div class="sb-media-body">
                <h6 class="media-heading">United Course</h6>
                <p class="media-description">Course</p>
              </div>
            </div>
          </td>
          <td data-label="Age">26</td>
          <td data-label="Job">Engineer</td>
        </tr>
        <tr>
          <td data-label="Name">
            <div class="sb-media">
              <img src="" alt="" class="sb-media-object">
              <div class="sb-media-body">
                <h6 class="media-heading">United Course</h6>
                <p class="media-description">Course</p>
              </div>
            </div>
          </td>
          <td data-label="Age">24</td>
          <td data-label="Job">Designer</td>
        </tr>
        <tr>
          <td data-label="Name">
            <div class="sb-media">
              <img src="" alt="" class="sb-media-object">
              <div class="sb-media-body">
                <h6 class="media-heading">United Course</h6>
                <p class="media-description">Course</p>
              </div>
            </div>
          </td>
          <td data-label="Age">24</td>
          <td data-label="Job">Designer</td>
        </tr>
        <tr>
          <td data-label="Name">
            <div class="sb-media">
              <img src="" alt="" class="sb-media-object">
              <div class="sb-media-body">
                <h6 class="media-heading">United Course</h6>
                <p class="media-description">Course</p>
              </div>
            </div>
          </td>
          <td data-label="Age">24</td>
          <td data-label="Job">Designer</td>
        </tr>
        <tr>
          <td data-label="Name">
            <div class="sb-media">
              <img src="" alt="" class="sb-media-object">
              <div class="sb-media-body">
                <h6 class="media-heading">United Course</h6>
                <p class="media-description">Course</p>
              </div>
            </div>
          </td>
          <td data-label="Age">24</td>
          <td data-label="Job">Designer</td>
        </tr>
        <tr>
          <td data-label="Name">
            <div class="sb-media">
              <img src="" alt="" class="sb-media-object">
              <div class="sb-media-body">
                <h6 class="media-heading">United Course</h6>
                <p class="media-description">Course</p>
              </div>
            </div>
          </td>
          <td data-label="Age">24</td>
          <td data-label="Job">Designer</td>
        </tr>
        <tr>
          <td data-label="Name">
            <div class="sb-media">
              <img src="" alt="" class="sb-media-object">
              <div class="sb-media-body">
                <h6 class="media-heading">United Course</h6>
                <p class="media-description">Course</p>
              </div>
            </div>
          </td>
          <td data-label="Age">24</td>
          <td data-label="Job">Designer</td>
        </tr>
        <tr>
          <td data-label="Name">
            <div class="sb-media">
              <img src="" alt="" class="sb-media-object">
              <div class="sb-media-body">
                <h6 class="media-heading">United Course</h6>
                <p class="media-description">Course</p>
              </div>
            </div>
          </td>
          <td data-label="Age">24</td>
          <td data-label="Job">Designer</td>
        </tr>
        <tr>
          <td data-label="Name">
            <div class="sb-media">
              <img src="" alt="" class="sb-media-object">
              <div class="sb-media-body">
                <h6 class="media-heading">United Course</h6>
                <p class="media-description">Course</p>
              </div>
            </div>
          </td>
          <td data-label="Age">24</td>
          <td data-label="Job">Designer</td>
        </tr>
      </tbody>
    </table>
  </div>

