<div class="sb-dtable-container">
  <div class="sb-dtable-search-header search-header-withbg">

      <div class="sb-search-box small no-btn">
          <div class="input-div relative">
              <i class="search icon"></i>
              <input class="sb-search-input" type="text" placeholder="Search..." />
              <i class="close icon"></i>
              <div class="sb-loader"></div>
          </div>
          <button class="sb-btn sb-btn-normal">Search</button>
      </div>


      <div class="download-file"><i class="download icon"></i>Download File</div>
  </div>
  <table class="ui selectable fixed single-line table no-br-radius sb-dtable">
    <thead class="sb-dtable-header">
      <tr>
        <th class="sb-sort-icon">Name</th>
        <th class="sb-sort-icon">Age</th>
        <th class="sb-sort-icon">Job</th>
      </tr>
    </thead>
    <tbody class="sb-dtable-body">
      <tr>
        <td data-label="Name">James</td>
        <td data-label="Age">24</td>
        <td data-label="Job">Engineer</td>
      </tr>
      <tr class="sb-activated-row">
        <td data-label="Name">Jill</td>
        <td data-label="Age">26</td>
        <td data-label="Job">Engineer</td>
      </tr>
      <tr>
        <td data-label="Name">Elyse</td>
        <td data-label="Age">24</td>
        <td data-label="Job">Designer</td>
      </tr>
      <tr>
        <td data-label="Name">Elyse</td>
        <td data-label="Age">24</td>
        <td data-label="Job">Designer</td>
      </tr>
      <tr>
        <td data-label="Name">Elyse</td>
        <td data-label="Age">24</td>
        <td data-label="Job">Designer</td>
      </tr>
      <tr>
        <td data-label="Name">Elyse</td>
        <td data-label="Age">24</td>
        <td data-label="Job">Designer</td>
      </tr>
      <tr>
        <td data-label="Name">Elyse</td>
        <td data-label="Age">24</td>
        <td data-label="Job">Designer</td>
      </tr>
      <tr>
        <td data-label="Name">Elyse</td>
        <td data-label="Age">24</td>
        <td data-label="Job">Designer</td>
      </tr>
    </tbody>
  </table>
</div>