<h6>Searchbox - Large</h6>
<div class="sb-search-box large">
    <div class="input-div relative">
        <i class="search icon"></i>
        <input class="sb-search-input" type="text" placeholder="Search..." />
        <i class="close icon"></i>
        <div class="sb-loader"></div>
    </div>
    <button class="sb-btn sb-btn-normal">Search</button>
</div>


<h6>Searchbox - Medium</h6>
<div class="sb-search-box medium">
    <div class="input-div relative">
        <i class="search icon"></i>
        <input class="sb-search-input" type="text" placeholder="Search..." />
        <i class="close icon"></i>
        <div class="sb-loader"></div>
    </div>
    <button class="sb-btn sb-btn-normal">Search</button>
</div>

<h6>Searchbox - Small</h6>
<div class="sb-search-box small">
    <div class="input-div relative">
        <i class="search icon"></i>
        <input class="sb-search-input" type="text" placeholder="Search..." />
        <i class="close icon"></i>
        <div class="sb-loader"></div>
    </div>
    <button class="sb-btn sb-btn-normal">Search</button>
</div>



<h6>Searchbox - No Button</h6>
<div class="sb-search-box small no-btn">
    <div class="input-div relative">
        <i class="search icon"></i>
        <input class="sb-search-input" type="text" placeholder="Search..." />
        <i class="close icon"></i>
        <div class="sb-loader"></div>
    </div>
    <button class="sb-btn sb-btn-normal">Search</button>
</div>


<h6>Searchbox - Disabled</h6>
<div class="sb-search-box large disabled">
    <div class="input-div relative">
        <i class="search icon"></i>
        <input class="sb-search-input" type="text" placeholder="Search..." />
        <i class="close icon"></i>
    </div>
    <button class="sb-btn sb-btn-normal">Search</button>
</div>
