html,
body {
  height: 100%;
  font-size: $font-size-base;
}

body {
  background: $body-background-color;
  position: relative;
  font-family: $font-stack-en;
  letter-spacing: 0.2px;
  height: auto;
  color: $default-text-color;
  padding-bottom: 336px;
  min-height: 100vh;
  &.pushable {
    background: $body-background-color;
    &>.pusher {
      background: transparent;
      padding-bottom: 400px;
      &.dimmed {
        height: 100vh;
      }
    }
  }
}


*[lang="en"] body {
  font-family: $font-stack-en;
}

*[lang="hi"] body {
  font-family: $font-stack-hi;
}

*[lang="ur"] body {
  font-family: $font-stack-ur;
}


