<!-- refer below code for angular-1 -->
<div class="sb-modal">
    <div class="ui small modal">
        <div class="header sb-modal-header">
            Modal Heading
        </div>
        <div class="scrolling image content sb-modal-content">
            <div class="description">
                <p>Modal Content</p>
            </div>
        </div>
        <div class="actions sb-modal-actions">
            <div class="sb-btn sb-btn-primary sb-btn-normal">Proceed
            </div>
        </div>
    </div>
</div>

<!-- refer commented code for angular-5 and above -->


<!-- 
<sui-modal [mustScroll]="true" [isClosable]="true" [transitionDuration]="0" [size]="'small'" class="sb-modal" appBodyScroll (dismissed)="redirect()" #modal>
    <div class="sb-modal-header">
        Modal Heading
    </div>
    <div class="sb-modal-content text-center">
        Modal Content
    </div>
    <div class="sb-modal-actions">
        <button class="sb-btn sb-btn-normal sb-btn-primary">
            Yes
        </button>
        <button class="sb-btn sb-btn-normal sb-btn-outline-primary">
            No
        </button>
    </div>
</sui-modal>
 -->